.editButton {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  box-shadow: none;
}
.editButton:before {
  content: "🖉";
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.editButton:focus:before {
  display: block;
  animation: spin 1s linear infinite;
  content: "";
  border: 2px solid none;
  border-top: 2px solid #3498db;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}

.loginModal pre {
  color: red;
  font-size: 20px;
}